<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %} - MIT IRC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="{{ STATIC_URL }}stylesheet/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 7]>
        <link href="{{ STATIC_URL }}stylesheets/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
     <![endif]-->
    <link href="{{ STATIC_URL }}stylesheets/buttons.css" media="screen, projection" rel="stylesheet" type="text/css" />

    {% block extracss %}{% endblock %}

    {% block javascript %}
    {% endblock %}
</head>

<body id="{% block bodyid %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">

{% block errors %}
{% comment %}
{% if form.errors %}
<div id="errors">
    Please correct the error{{form.errors|pluralize}} below.
</div>
{% endif %}
{% endcomment %}
{% endblock %}

{% block beforecontainer %}{% endblock %}

<div id="container">

<div id="header">
{% block header %}
    <h1>
        <a href="{% url home %}" class="logo">MIT IRC</a>
    </h1>
    {% comment %}
    <ul id="navigation">
        <li id="home"><a href="{% url home %}">home</a></li>
        <!-- <li><a href="">tour</a></li> -->
        <!-- <li><a href="">pricing</a></li> -->
        <!-- <li><a href="">blog</a></li> -->
        <li><a href="">documentation</a></li>
        <!-- <li><a href="">support</a></li> -->
        <li>|</li>
        {% if user.is_authenticated %}
        <li><a href="">dashboard</a></li>
        <li><a href="" class="logout">logout</a></li>
        {% else %}
        <li><a href="" class="login">login</a></li>
        {% endif %}
    </ul>
    {% endcomment %}
{% endblock %}
</div>

<div id="content">
{% block messages %}
{% if messages %}
<div id="messages">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}

</div><!-- content -->

{% block aftercontent %}{% endblock %}

<div id="footer">
{% block footer %}
    <!-- <a href="http://">a prototype</a> -->
{% endblock %}
</div>

</div> <!-- container -->

{% block bodyend %}{% endblock %}

</body>
</html>
