{% extends "base.html" %}
{% block bodyid %}dashboard{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="left">
  <div id="users">
    <h2 class="num_users">{{ total_users }}</h2>
    <h3>user{{ total_users|pluralize }} online</h3>
    <p class="highest">highest: {{ max_users }}</p>
  </div>
</div>

<div class="right">
  <div id="rooms">
    <h3 class="title">List of Active Rooms</h3>
    <p class="description">(click a room to join)</p>

    <table>
    <tbody>
        {% for r in rooms %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="left">
                <h4 class="name"><a href="">{{ r.name }}</a></h4>
                <p class="topic">{{ r.topic|default:'<em>No topic was set.</em>' }}</p>
            </td>
            <td class="right">
                <div class="num_users">
                    <h4>{{ r.num_users }}</h4>
                    <p>users</p>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr class="empty">
            <td>No rooms have been created yet! Get started by 
            <a href="">creating a new room &rarr;</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>


  </div>
</div>
{% endblock %}
