{% extends "base.html" %}
{% block bodyid %}dashboard{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="left">
  <div id="users">
    <h2 class="num_users">132</h2>
    <h3>users online</h3>
    <p class="highest">highest: 453</p>
  </div>
</div>

<div class="right">
  <div id="rooms">
    <h3 class="title">List of Active Rooms</h3>
    <p class="description">(click a room to join)</p>

    <table>
    <tbody>
        <tr class="odd">
            <td class="left">
                <h4 class="name"><a href="">#general</a></h4>
                <p class="topic">Chat about anything you want!</p>
            </td>
            <td class="right">
                <div class="num_users">
                    <h4>36</h4>
                    <p>users</p>
                </div>
            </td>
        </tr>
        <tr class="even">
            <td class="left">
                <h4 class="name"><a href="">#general</a></h4>
                <p class="topic">Chat about anything you want!</p>
            </td>
            <td class="right">
                <div class="num_users">
                    <h4>36</h4>
                    <p>users</p>
                </div>
            </td>
        </tr>
        <tr class="odd">
            <td class="left">
                <h4 class="name"><a href="">#general</a></h4>
                <p class="topic">Chat about anything you want!</p>
            </td>
            <td class="right">
                <div class="num_users">
                    <h4>36</h4>
                    <p>users</p>
                </div>
            </td>
        </tr>
        <tr class="even">
            <td class="left">
                <h4 class="name"><a href="">#general</a></h4>
                <p class="topic">Chat about anything you want!</p>
            </td>
            <td class="right">
                <div class="num_users">
                    <h4>36</h4>
                    <p>users</p>
                </div>
            </td>
        </tr>
    </tbody>
    </table>


  </div>
</div>
{% endblock %}
