{% extends "base.html" %}
{% load base %}
{% block bodyid %}dashboard{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block javascript %}
{# Use modernizer to hack support for my use of input text placeholder #}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
{% endblock %}

{% block content %}
<div class="left">
  <div id="users">
    <h2 class="num_users">{{ total_users }}</h2>
    <h3>user{{ total_users|pluralize }} online</h3>
    <p class="highest">highest: {{ max_users }}</p>
  </div>
</div>

<div class="right">
  <div id="rooms">
    <h3 class="title">List of Active Rooms</h3>
    <p class="description">(click a room to join)</p>

    <table>
    <tbody>
        {% for r in rooms %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="left">
                <h4 class="name"><a href="{% url chat r.name|urlquote %}">{{ r.name }}</a></h4>
                <p class="topic">{{ r.topic|default:'<em>No topic was set.</em>' }}</p>
            </td>
            <td class="right">
                <div class="num_users">
                    <h4>{{ r.num_users }}</h4>
                    <p>users</p>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr class="empty">
            <td>No rooms have been created yet, but now that you're here, maybe
            you can create one...</td>
        </tr>
        {% endfor %}
        <tr id="newroom">
            <td colspan="2">
                <form action="{% url chat %}" method="GET">
                Create a new room: <input type="text" name="channels" placeholder="e.g. #myroom" />
                <button class="button primary big">Go!</button>
                </form>
                <!-- <small><em>Tip</em>: Type <code>/topic My topic here</code> to set the topic of your new room!</small> -->
            </td>
        </tr>
    </tbody>
    </table>


  </div>
</div>
{% endblock %}
